body {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

h1 {
  color: red;
  text-align: center;
  font-family: Georgia, serif;
}

h3 {
  color: blue;
  text-align: left;
  font-family: Georgia,serif;
}

p {
  color: black;
  text-align: justify;
  line-height: 20px;
  font-family: Georgia, serif;
}

table, th, td {
  font-family: Georgia,serif;
  font-size: 14px;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 6px;
}

th {
  background-color: #BFC9CA;
}

table{
  margin-left: auto;
  margin-right: auto;
}

ul {
  line-height: 20px;
}

ol {
  line-height: 40px;
}
